.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
  }
  
  .contact-image {
    flex: 1 1 50%;
    overflow: hidden;
  }
  
  .contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contact-info {
    flex: 1 1 50%;
    padding: 40px;
    background-color: #1c1c1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contact-info h2 {
    margin-bottom: 15px;
  }
  
  .contact-info p {
    margin-bottom: 25px;
    color: #ccc;
  }
  
  .contact-list, .social-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .contact-list li, .social-list li {
    margin-bottom: 10px;
  }
  
  .contact-list a, .social-list a {
    color: #0011ff;
    text-decoration: none;
  }
  
  .contact-list a:hover, .social-list a:hover {
    text-decoration: underline;
  }

  
  /*PARA QUE SE VEA BIEN EN LOS DISPOSITIVOS MÓVILES*/
  @media (max-width: 768px) {
    .contact-wrapper {
      flex-direction: column;
    }
  
    .contact-image,
    .contact-info {
      flex: 1 1 100%;
      height: auto;
    }
  
    .contact-info {
      padding: 20px;
    }
  
    .contact-info h2 {
      font-size: 1.8rem;
    }
  
    .contact-info p,
    .contact-list li,
    .social-list li {
      font-size: 1rem;
    }
  }
  